@page "/admin"

<PageTitle>Admin</PageTitle>

<h1>Admin</h1>

<p>This component shows admin functionality.</p>

<p>Currently only has task status management pages.</p>

<ul>
    <li><a href="/admin/taskstatus/list">Manage Task Statuses</a></li>
</ul>
